$mainFont: 'TTLakes', sans-serif;
$desktopWidth: 1440px;
$tableWidth: 768px;
$phoneWidth: 360px;
$smPhoneWidth: 320px;

// Pagination
$pagination-base: #dddddd;
$pagination-active: #b5b6bc;

// Main
$base-color: #1b1c21;
$default-color: #ffffff;
$primary-color: #444ce0;
$success-color: #26de81;
$danger-color: #ff3e79;
$danger-color-800: rgba(255, 62, 120, 0.8);
$warning-color: #fed330;
$light-color: #7e7e82;
$purple-color: #8854d0;
$fon-color: #f8f8f8;

// hover
$hover-primary: #7e7e82;
$hover-danger: #ff3e79;

// Neutral
$neutral-primary: #303133;
$neutral-regular: #7e7e82;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border
$border-light: #41f6d7;
$border-lighter: #b8ffec;
$border-lightex: #eaeaea;
$border-lite: #d9fff5;
