@font-face {
  font-family: 'TTLakes';
  src: url('../../assets/fonts/TTLakes-Light.ttf') format('truetype'),
    url('../../assets/fonts/TTLakes-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../../assets/fonts/TTLakes-Regular.ttf') format('truetype'),
    url('../../assets/fonts/TTLakes-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../../assets/fonts/TTLakes-Medium.ttf') format('truetype'),
    url('../../assets/fonts/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../../assets/fonts/TTLakes-ExtraBold.ttf') format('truetype'),
    url('../../assets/fonts/TTLakes-ExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakesCondensed';
  src: url('../../assets/fonts/TTLakesCondensed-Bold.ttf') format('truetype'),
    url('../../assets/fonts/TTLakesCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
