.chip {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  flex-shrink: 0;
}

.chip--mode--primary {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $danger-color;
  transition: 0.2s background-color;
}

.chip--mode--danger {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $danger-color;
}

@media (hover: hover) {
  .chip--mode--primary:hover {
    background-color: $danger-color-800;
  }
}
