.collapse {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: 0.3s grid-template-rows, margin-top 0.3s;

  &__container {
    margin: 0;
    overflow: hidden;
    min-height: 0;
  }
}

.collapse--open {
  grid-template-rows: 1fr;
}

.collapse--open-mt30 {
  margin-top: 1.875rem;
}

.collapse-action {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  line-height: 1rem;
}
